:root {
    --theme-black: #0B0C10;
    --theme-dark: #1F2833;
    --theme-light: #C5C6C7;
    --theme-white: #fff;
    --theme-primary: #66FCF1;
    --theme-secondary: #45A29E;
}

.top-container {
    padding: 0;
    height: 100vh;
}

.top-heading {
    background-image: url("/img/dark-quads-background.jpg");
    margin: 0;
}

.about-landing {
    background-image: url("/img/show-off-games.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    opacity: 0.3;
    margin: 0;
}

.about-pic {
    background-image: url("/img/risk.jpeg");
    height: 100vh;
    margin: 0;
}

.board-game-area {
    background-image: url("/img/classic-pieces.jpg");
    opacity: 0.3;
    height:100vh;
    margin: 0;
}

.btn-landing {
    background-color: var(--theme-black);
    outline: 3px solid var(--theme-light);
    color: white;
    border-radius: 0;
}

.btn-landing:hover {
    background-color: var(--theme-primary);
}

body {
    background-color: var(--theme-black);
}

.cafe-area {
    background-image: url("/img/full-tables.jpg");
    opacity: 0.3;
    height:100vh;
    margin: 0;
}

.card-body {
    background-color: var(--theme-dark);
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.card-footer {
    padding: 0;
    border-radius: 0;
    border: 2px solid var(--theme-light);
    background-color: var(--theme-secondary);
}

.card-footer > a {
    color: var(--theme-white)
}

.card-footer > a:hover {
    border-radius: 0;
    background-color: var(--theme-primary);
}

.foot-icons > ul > li > a > i {
    color: var(--theme-light)
}

.foot-icons > ul > li > a > i:hover {
    color: var(--theme-primary)
}

.foot-info > ul {
    list-style-type: none;
    color: var(--theme-light)
}

.font-choice {
    font-family: 'Langar', cursive;
}

.game-landing {
    background-image: url("/img/catan.jpeg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    opacity: 0.3;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.menu-bar {
    background-image: url("/img/bar\ drinks.jpg");
    opacity: 0.3;
    height:100vh;
    margin: 0;
}

.menu-cafe {
    background-image: url("/img/coffee-and-cream.jpg");
    opacity: 0.3;
    height:100vh;
    margin: 0;
}

.menu-food {
    background-image: url("/img/burger-fries-beer.jpg");
    opacity: 0.3;
    height:100vh;
    margin: 0;
}

.menu-landing {
    background-image: url("/img/empty-bar.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    opacity: 0.3;
    margin: 0;
}

.nav-pills > .nav-item > a {
    color: var(--theme-secondary);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: var(--theme-secondary);
}

.navbar-dark {
    background-color: transparent;
    height: 40px;
    width: 100%;
    margin: 0;
}

.navbar-brand {
    color: var(--theme-secondary) !important;
}

.navbar-brand:hover {
    color: var(--theme-primary) !important;
}

.navbar-nav > .active > a {
    color: var(--theme-secondary) !important;
}

.navbar-nav > .nav-item > a:hover {
    color: var(--theme-primary) !important;
}

.navbar-toggler {
    background-color: var(--theme-secondary) !important;
    color: var(--theme-black) !important;
}

p {
    color: var(--theme-white);
}

.parallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.scroll {
    animation: updown 2s ease infinite;
}

.theme-back {
    background-image: url("/img/dark-quads-background.jpg");
    height: 100vh;
    margin: 0;
    color: var(--theme-light)
}

@media only screen and (max-width: 760px) {
    .card-img-top {
        height: 20vh;
    }

    .collapse {
        background-color: var(--theme-dark);
    }

}

@keyframes updown {
    0% {
      transform: translateY(-50%);
      color: var(--theme-secondary);
    }

    50% {
      transform: translateY(50%);
      color: var(--theme-primary);
    }

    100% {
      transform: translateY(-50%);
      color: var(--theme-secondary);
    }
  }
