body {
    background-image: linear-gradient(to right, #000000, #001c2e);
}

h4 {
    font-family: 'Langar', cursive;
}

.navbar-color {
    background-color: #7b8da3;
}

.nav-toggle-button {
    color: aliceblue;
}
